# Node modules
node_modules

# SvelteKit output
.svelte-kit
/build
.output
.vercel

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*        # ignore all .env files...
!.env.example # ...except example templates
!.env.test

# Vite junk
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor & IDE settings
.vscode/
.idea/
*.swp
